@import '../variables';

.button {
  background-color: $color-primary;
  color: black;
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 25px;
  border: 3px solid $color-primary;

  &--outline {
    background-color: transparent !important;
    color: $color-primary !important;
  }

  &--secondary {
    color: $color-primary;
    background-color: black;
    border: 2.5px solid black;
  }
}
.button--icon {
  cursor: pointer;

  &:hover {
    filter: drop-shadow(16px 16px 20px red) invert(75%);
  }
}


