@import '../variables';

.dialog--box {
  padding: 2rem;
}

.dialog--description {
  font-size: 14px;
}

.dialog--important {
  font-weight: bold;
  font-size: 14px;
}

.dialog--list {
font-size: 14px;
}



