@import 'layout/_button.scss';
@import "@fontsource/chakra-petch/index.css";


:root {
  --el-color-primary: #FFEB00;
  --015c408c-color: red;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Chakra Petch', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
  color: white;
  background-color: black;
  //display: flex;
  //justify-content: space-between;
}

body {
}
