@import 'layout/_button.scss';
@import 'layout/_dialog.scss';
@import "@fontsource/chakra-petch/index.css";
@import "scrollbar";
@import "animations";
@import "form";
@import "icons";
@import "table";
@import "teams";
@import "dropdown";
@import '@vuepic/vue-datepicker/dist/main.css';

:root {
  --el-color-primary: #FFEB00;
  --015c408c-color: red;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Chakra Petch', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
  color: white;
  background-color: black;
}

body {
  display: block;

}

.aside {
  grid-area: aside;
  color: black;
  background-color: $color-primary;


  max-height: 100%;
  overflow: auto;
}

.layout {
  display: grid;
  min-height: 100vh;

  grid-template-areas:
                      "head"
                      "main"
                      "aside";
  grid-template-rows: 100px auto minmax(100px, auto);
  grid-template-columns: 100%;

  @include desktop {
    grid-template-areas:
                      "head aside"
                      "main aside";
    grid-template-columns: 1fr .40fr;
    grid-template-rows: 80px 1fr;
  }
}
