form {
  .form--wrapper {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    position: relative;
    padding-bottom: 1.5rem;
  }

  .form--label {
    font-size: 1.2rem;
  }

  .form--input {
    padding: .2rem 0;
  }

  .form--error {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  //input {
  //  padding: .5rem 1rem;
  //  position: relative;
  //  background-color: green;
  //}
  //
  //p {
  //  color: $color-warning;
  //  position: absolute;
  //  top: 0;
  //}
}
