form {
  .form--wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: .2rem;
    position: relative;
    justify-content: center;
  }

  .form--label {
    font-size: 1.2rem;
  }

  .form--input {
    padding: .2rem 0;
  }

  .form--error {
    position: absolute;
    bottom: -1.5rem;
    left: 0;
  }
}
