$width: 96%;
$gutter: 4%;
$breakpoint-small: 595px;
$breakpoint-med: 768px;
$breakpoint-large: 1024px;


.form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $breakpoint-small) {
    width: 80%;
  }

  @media only screen and (min-width: $breakpoint-large) {
    width: 75%;
    max-width: 60rem;
  }
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 1rem 2%;
  min-height: 0.125rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1 { width: calc($width / 12) - calc($gutter * 11 / 12); }
.col-2 { width: calc($width / 6) - calc($gutter * 10 / 12); }
.col-3 { width: calc($width / 4) - calc($gutter * 9 / 12); }
.col-4 { width: calc($width / 3) - calc($gutter * 8 / 12); }
.col-5 { width: calc($width / (12 / 5)) - calc($gutter * 7 / 12); }
.col-6 { width: calc($width / 2) - calc($gutter * 6 / 12); }
.col-7 { width: calc($width / (12 / 7)) - calc($gutter * 5 / 12); }
.col-8 { width: calc($width / (12 / 8)) - calc($gutter * 4 / 12); }
.col-9 { width: calc($width / (12 / 9)) - calc($gutter * 3 / 12); }
.col-10 { width: calc($width / (12 / 10)) - calc($gutter * 2 / 12); }
.col-11 { width: calc($width / (12 / 11)) - calc($gutter * 1 / 12); }
.col-12 { width: $width; }

.md-col-1 {
  @media only screen and (max-width: $breakpoint-med) {
    width: calc($width / 12) - calc($gutter * 11 / 12);
  }
}

.md-col-1 {
  @media only screen and (max-width: $breakpoint-med) {
    width: calc($width / 6) - calc($gutter * 10 / 12);
  }
}

.md-col-3 {
  @media only screen and (max-width: $breakpoint-med) {
    width: calc($width / 4) - calc($gutter * 9 / 12);
  }
}

.md-col-4 {
  @media only screen and (max-width: $breakpoint-med) {
    width: calc($width / 3) - calc($gutter * 8 / 12);
  }
}

.md-col-5 {
  @media only screen and (max-width: $breakpoint-med) {
    width: calc($width / 12) - calc($gutter * 7 / 12);
  }
}

.md-col-6 {
  @media only screen and (max-width: $breakpoint-med) {
    width: calc($width / 2) - calc($gutter * 6 / 12);
  }
}

.md-col-7 {
  @media only screen and (max-width: $breakpoint-med) {
    width: calc($width / (12 / 7)) - calc($gutter * 5 / 12);
  }
}

.md-col-8 {
  @media only screen and (max-width: $breakpoint-med) {
    width: calc($width / (12 / 8)) - calc($gutter * 4 / 12);
  }
}

.md-col-9 {
  @media only screen and (max-width: $breakpoint-med) {
    width: calc($width / (12 / 9)) - calc($gutter * 3 / 12);
  }
}

.md-col-10 {
  @media only screen and (max-width: $breakpoint-med) {
    width: calc($width / (12 / 10)) - calc($gutter * 2 / 12);
  }
}

.md-col-11 {
  @media only screen and (max-width: $breakpoint-med) {
    width: calc($width / (12 / 11)) - calc($gutter * 1 / 12);
  }
}

.md-col-12 {
  @media only screen and (max-width: $breakpoint-med) {
    width: $width;
  }
}

.hidden-md {
  @media only screen and (max-width: $breakpoint-med) {
    display: none;
  }
}

.hidden-lg {
  @media only screen and (min-width: $breakpoint-med) {
    display: none;
  }
}
