.table_wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 1rem 0;
  width: 100%;
  max-height: 600px;
  overflow: scroll;
  background-color: black;
}

.table_header {
  color: black;
  background-color: $color-primary !important;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 1.4rem;
}

.podium {
  &:first-child {
    background-color: #FFD700;
    color: black;
  }

  &:nth-child(2) {
    background-color: #C0C0C0;
    color: black;

  }

  &:nth-child(3) {
    background-color: #CD7F32;
    color: black;
  }
}

tr {
  border-radius: 15px;
}

table {
  font-size: 1.3rem;
  text-align: center;
  background-color: black;
  //border-spacing: 0 1.4rem;
}

thead {
  position: sticky;
  top: 0;
  z-index: $index-tbody;
}

th {
  padding: .8rem .3rem;
}

td {
  border-bottom: 3px solid rgba(200, 200, 200, 0.28);
  //padding: 0 .8rem;
  padding: .5rem 0rem
}



tr:nth-child(even) {
}