
@use 'element-plus/dist/index.css';
@use 'element-plus/theme-chalk/display.css';
@import "utils";
@import "grid";

@font-face {
  font-family: 'Chakra Petch';
  font-weight: 400;
  src: local("Chakra Petch"), url("/font/ChakraPetch-Regular.ttf");
}

@font-face {
  font-family: 'Chakra Petch';
  font-weight: 800;
  src: local("Chakra Petch"), url("/font/ChakraPetch-Bold.ttf");
}

$color-primary: #FFEB00;
$color-primary--light: #FFF860;
$color-grey: #646464;
$color-grey-dark: #121211;
$color-best-lap: #7c56b7;
$color-warning: #ff9966;
$color-success: rgba(0, 255, 4, 0.68);
$default-padding: 0 2rem;

$index-tbody: 400;
$index-selector: 350;
$index-selector--options: 500;
$index-menu: 600;
$index-menu-overlay: 800;
